*{
    box-sizing: border-box;
  }
  body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(getty.gif);
    background-position: center;
    background-size: cover;
  }
  .container{
    /* width: 80%; */
    margin: 0 auto;
  }
  .card-container {
    background-color: white;
    border-radius: 10px;
    width: 15rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    height: 22rem;
}
.container h1 {
    text-align: center;
    color: rgb(114, 40, 114);
}
.card-details {
    border: 3px solid white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bolder;
}
.card-container:hover{
  transform: scale(1.06);
    cursor: pointer;
}
.searchbox {
    text-align: center;
    padding: 1rem;
}
.searchbox input {
  border-color: purple;
    padding: 1.2rem;
    background-color: white; 
    color: black;
}
.card-details img {
    width: 100%;
}
